@import "../../Styles/Mixin.scss";

#chat {

    display: flex;
    background-color: #f8f9fa;
    height: calc(780px);
    margin-top: 30px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.02);
    color: rgba(0,0,0,.8);

    .loading-general {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        > div {
            width: 42px;
            height: 42px;
            background-color: #FFF;
            box-shadow: 0 1px 1px 0 rgba(#000,.06),0 2px 5px 0 rgba(#000,.2);
            border-radius: 100px;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: center;
        }
    }
    .left {
        width: 400px;
        max-width: 35%;
        background: #FFF;
        border-right: 1px solid #e5e5e6;
        #profile {
            background-color: #ededed;
            height: 59px;
            display: flex;
            align-items: center;
            padding: 0px 15px;
            box-sizing: border-box;
            .photo {
                width: 40px;
                height: 40px;
                border-radius: 100px;
                background-size: cover;
            }
            h1 {
                font-size: 1rem;
                font-weight: 600;
                margin: 0px 10px;
                padding: 0px;
            }
        }

        #search {
            background-color: #f6f6f6;
            height: 49px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0px 10px;
            .input {
                background: #FFF;
                height: 35px;
                border-radius: 100px;
                width: 100%;
                display: flex;
                align-items: center;
                i {
                    margin-left: 10px;
                    margin-right: 10px;
                }
                input {
                    flex: 1;
                }
            }
        }
        .tab-contacts {
            display: flex;
            border-bottom: 1px solid #f2f2f2;
            li {
                width: 50%;
                box-sizing: border-box;
                padding: 10px 15px;
                cursor: pointer;
                font-size: 13px;
                border-bottom: 2px solid transparent;
                &.active {
                    background-color: rgba(#000, .02);
                    border-bottom: 2px solid $color_yellow;
                    font-weight: 600;
                }
            }
        }
        #contacts {
            height: calc(100% - 59px - 49px);
            display: flex;
            flex-direction: column;
            .contact {
                border-bottom: 1px solid #f2f2f2;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                padding: 10px 15px 10px 10px;
                flex: 1;
                width: 100%;
                &:hover {
                    background-color: #f5f5f5;
                    cursor: pointer;
                }
                &.active {
                    background-color: #ebebeb;
                }
                .person {
                    flex: 1;
                    max-width: 70%;
                    display: flex;
                    flex-direction: column;
                    b {
                        font-size: 14px;
                    }
                    .message {
                        font-size: 12px;
                        color: rgba(0,0,0,.6);
                        &.active {
                            font-weight: 600;
                            color: rgba(0,0,0,.8);
                        }
                        .message-render {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            max-width: 100%;
                            .center-message {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                svg {
                                    margin-right: 3px;
                                    margin-bottom: -1px;
                                    color: $color_blue;
                                }
                            }
                        }
                    }
                }

                .infos {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    .date {
                        text-align: right;
                        font-size: 9px;
                    }
                    .totalMessage {
                        background: $color_blue;
                        border-radius: 100px;
                        display: flex;
                        height: 19px;
                        font-size: 12px;
                        padding: 0px 6px;
                        box-sizing: border-box;
                        color: #FFF;
                        margin-top: 2px;
                        &.hidden {
                            visibility: hidden;
                        }
                    }
                }

            }
        }

    }
    .right {
        flex: 1;
        height: 100%;
        #conversation {
            background-color: #dddbd1;
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            &:after {
                width: 100%;
                height: 100%;
                background-image: url(https://web.whatsapp.com/img/bg-chat-tile-light_04fcacde539c58cca6745483d4858c52.png);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                opacity: .04;
                z-index: 1;
            }
            .relative {
                position: relative;
                z-index: 2;
                height: 100%;
                display: flex;
                flex-direction: column;
                .header {
                    height: 59px;
                    display: flex;
                    background-color: #ededed;
                    border-bottom: 1px solid #e7e0d8;
                    align-items: center;
                    padding: 5px 0px;
                    span {
                        margin-left: 20px;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
                .messages {
                    justify-content: flex-end;
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    overflow: auto;
                    .position-bottom {
                        min-height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        padding-bottom: 10px;
                        box-sizing: border-box;
                    }
                    .message {
                        padding: 3px 30px;
                        display: flex;
                        flex-direction: column;
                        
                        &.hidden {
                            visibility: hidden;
                        }
                        &.sent {
                            align-items: flex-end;
                            .content {
                                background-color: #dcf8c6;
                            }
                        }
                        &.received {
                            align-items: flex-start;
                        }
                        .author {
                            background-color: $color_yellow;
                            white-space: nowrap;
                            font-size: 9px;
                            border-radius: 100px;
                            padding: 4px 8px;
                            margin-bottom: -5px;
                            position: relative;
                            box-shadow: 0 1px 1px 0 rgba(#000,.06),0 2px 5px 0 rgba(#000,.2);
                            display: flex;
                            align-items: center;
                            .icon-bot {
                                font-size: 20px;
                                margin-right: 3px;
                                margin-top: -3px;
                            }
                        }
                        .content {
                            background-color: #FFF;
                            max-width: 60%;
                            padding: 6px 7px 8px 7px;
                            border-radius: 7.5px;
                            box-shadow: 0 1px .5px rgba(#000,.13);
                            .link-interative {
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 5px;
                                img {
                                    width: 90px;
                                    height: 90px;
                                }
                                .text {
                                    flex: 1;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    padding-left: 10px;
                                    background-color: rgba(#000, .05);
                                    border-radius: 4px;
                                    cursor: pointer;
                                    span {
                                        color: rgba(#000, .8);
                                    }
                                    i {
                                        font-size: 10px;
                                        color: rgba(#000, .5);
                                        font-style: normal;
                                    }
                                    p {
                                        margin: 0px;
                                        font-size: 12px;
                                        color: rgba(#000, .8);
                                    }
                                }
                            }
                            .message-render {
                                font-size: 13px;
                                box-sizing: border-box;
                                word-break: break-word;
                                white-space: pre-line;
                                .contact {
                                    width: 300px;
                                    display: flex;
                                    flex-direction: column;
                                    .name {
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        width: 100%;
                                        border-bottom: 1px solid rgba(#000, .05);
                                        padding: 10px 0px;
                                        svg {
                                            width: 49px;
                                            height: 49px;
                                            margin-right: 15px;
                                            margin-left: 10px;
                                        }
                                        b {
                                            font-size: 14px;
                                            font-weight: 600;
                                        }
                                    }
                                    .telefones {
                                        display: flex;
                                        label {
                                            margin-top: 4px;
                                            cursor: pointer;
                                            display: flex;
                                            align-items: center;
                                            padding: 4px;
                                            border-radius: 3px;
                                            input {
                                                background-color: transparent;
                                                margin-left: 4px;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                                .localizacao {
                                    width: 270px;
                                    height: 240px;
                                }
                                .figure {
                                    img {
                                        width: 125px;
                                        height: 125px;
                                    }
                                }
                                .archive {
                                    display: flex;
                                    align-items: center;
                                    color: #919191;
                                    background-color: rgba(0,0,0,.05);
                                    padding: 10px;
                                    border-radius: 4px;
                                    img {
                                        height: 30px;
                                    }
                                    span {
                                        margin: 0px 40px 0px 10px;
                                    }
                                    svg {

                                    }
                                }
                                .photo, video {
                                    width: 300px;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    height: 150px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    overflow: hidden;
                                    border-radius: 5px;
                                    margin-top: 4px;
                                    cursor: pointer;
                                    position: relative;
                                    &:after {
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        content: '';
                                        top: 0;
                                        left: 0;
                                        background-color: rgba(#000,.1);
                                        visibility: hidden;
                                        opacity: 0;
                                        transition: all .5s;
                                    }
                                    &:hover {
                                        &::after {
                                            visibility: visible;
                                            opacity: 1;
                                        }
                                    }
                                }
                                
                            }
                            .infos {
                                display: flex;
                                justify-content: flex-end;
                                margin-top: 5px;
                                margin-bottom: -5px;
                                .date {
                                    font-size: 9px;
                                    margin-right: 5px;
                                }
                                svg {
                                    width: 14px;
                                }
                            }
                        }
                    }
                }
                .button-scroll {
                    position: relative;
                    .scroll-to-bottom {
                        width: 42px;
                        height: 42px;
                        background-color: #FFF;
                        box-shadow: 0 1px 1px 0 rgba(#000,.06),0 2px 5px 0 rgba(#000,.2);
                        position: absolute;
                        top: -82px;
                        right: 0px;
                        margin: 20px;
                        border-radius: 100px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        justify-content: center;
                    }
                }
                .sent-message {
                    display: flex;
                    flex-direction: column;
                    background-color: #f0f0f0;
                    .visible {
                        min-height: 62px;
                        padding: 8px 10px;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        position: relative;
                        z-index: 2;
                        background-color: #f0f0f0;
                    }
                    .emojis {
                        display: flex;
                        flex-direction: column;
                        .list {
                            visibility: hidden;
                            height: 0px;
                            overflow: auto;
                            width: 100%;
                            box-sizing: border-box;
                            transition: all .2s;
                            padding: 15px 20px;
                            margin-bottom: -40px;
                            &.active {
                                height: 220px;
                                visibility: visible;
                                margin-bottom: 0px;
                            }
                            button {
                                width: 32px;
                                height: 32px;
                                margin: 0px 6px;
                                font-size: 28px;
                                cursor: pointer;
                            }
                        }
                        .buttons {
                            margin-right: 10px;
                            display: flex;
                            align-items: center;
                            overflow: hidden;
                            button {
                                margin-left: 10px;
                                width: 26px;
                                height: 26px;
                                display: flex;
                                cursor: pointer;
                                align-items: center;
                                background-color: transparent;
                                border: none;
                                color: #919191;
                            }
                            .close {
                                margin-left: -30px;
                                visibility: hidden;
                                opacity: 0;
                                transition: all .2s;
                            }
                            &.active {
                                .open {
                                    path {
                                        fill: #009688
                                    }
                                }
                                .close {
                                    margin-left: 10px;
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .input {
                        min-height: 42px;
                        max-height: 100px;
                        overflow: auto;
                        flex: 1;
                        margin: 8px 0px;
                        padding: 9px 12px 11px;
                        box-sizing: border-box;
                        border-radius: 21px;
                        background-color: #FFF;
                        box-sizing: border-box;
                        position: relative;
                        #input-send {
                            word-break: break-word;
                            white-space: pre-line;
                            outline: none;
                            position: relative;
                            z-index: 2;
                        }
                        span {
                            position: absolute;
                            top: 9px;
                            color: rgba(#000,.3);
                        }
                    }
                }
            }
        }
    }
}