*{
    margin: 0 auto;
    padding: 0;
}
#top{
    width: 100%;
    height: 55px;
    background-color: #f4f4f4;
    /*border-bottom: 1px solid #c4c4c4;*/
    position:fixed!important;
    top:0px;
    z-index: 1000;
   /* -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);*/
}
#toponovo{
    width: 100%;
    margin: 0 auto;
}
.label{
    line-height: 25px;
    padding-left: 30px;
    display: inline;
    color: #848484;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size: 10px;
}
#nav{
    float: left;
}
#nav ul {
    margin:0px;
    list-style:none;
}
#nav ul li:first-child {
    padding-left: 15px;
}
#nav ul li {
    display: inline;
    position: relative;
}
#nav ul li a {
    line-height: 40px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 16px;
    padding-bottom: 2px;
    text-decoration: none;
}
#nav ul li a:hover {
    background-color: #e8e8e8;
}
#nav2{
    float: right;
    display: inline;
    color: #848484;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

#nav2 p {
    display: inline;
    color: #848484;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}
#nav2 p a {
    color: #848484 !important;
    line-height: 55px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 22px;
}
.hidden{
    display:none!important;
}
.conteudo{
    margin-top: 80px;
}

/* INICIO DAS REGRAS PARA FORMULARIO CADASTRO VIA REDES SOCIAIS */
.form-rede-social {
    font-family: Verdana, "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}
#form-cadastro input[type=email] {
    border-radius:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    line-height: 36px;
    padding-left: 10px;
    width:315px;
    font-size: 16px;
}
#form-cadastro button[type=submit] {
    border: 0px;
    cursor: pointer;
}
.input {
    background: #ffffff;
    border:3px solid #e8e8e8;
}
.error {
    background: #f8d1cd;
    border:3px solid #e64b3c;
}
.text {
    font-family: Verdana, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    color: #484848;
}
.text-success {
    color: #63a21f;
}