@import '../../Styles/Mixin.scss';

#analytics {
    .status-check {
        margin: 5px 0px -4px 7px;
        display: inline-block;
    }
    .tfoot {
        margin: 20px 0px;
    }
    .toggle {
        display: flex;
        margin-top: 17px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
        padding-bottom: 20px;
        > div {
            background-color: rgba($color: #000000, $alpha: .06);
            border-radius: 5px;
            padding: 10px;
            margin-right: 10px;
            cursor: pointer;
            > span {
                margin-right: 8px;
            }
        }
    }
}

