@import "../../Styles/Mixin.scss";

#chatbot {
    
    .flex {
        display: flex;
        width: 100%;
        height: calc(100vh - 200px);
        background-color: rgba(#000, .03);
        border-radius: 5px;
        border: 1px solid rgba(#000, .05);
        position: relative;
        overflow: hidden;
        margin-top: 0px;
    }
    .react-flow {
        position: relative;
    }
    .menu-fixed {
        position: absolute;
        width: 100%;
        height: 62px;
        background-color: #FFF;
        border-bottom: 1px solid rgba(#000, .1);
        left: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        padding: 20px 20px;
        box-sizing: border-box;
        button {
            padding: 10px 20px;
            margin-right: 20px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                opacity: .5;
            }
            svg {
                font-size: 20px;
            }
            &.newDialog {
                background-color: $color_yellow;
            }
            &.resetFlow {
                background-color: #CCC;
            }
            &.testFlow {
                background-color: $color_blue_purple;
                color: #FFF;
                svg {
                    path {
                        fill: #FFF;
                    }
                }
            }
            &.saveFlow {
                background-color: $color_blue;
                color: #FFF;
                svg {
                    path {
                        fill: #FFF;
                    }
                }
            }
            svg {
                margin-right: 10px;
            }
        }
        .send-phones-fixed {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: #FFF;
            max-width: 300px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 10px 10px rgba(#000, .1);
            opacity: 0;
            margin-top: -40px;
            visibility: hidden;
            transition: all .2s;
            &.active {
                opacity: 1;
                visibility: visible;
                margin-top: 0px;
            }
            p {
                margin-top: 0px;
                font-size: 13px;
            }
            .form {
                display: flex;
                button {
                    padding: 0px 20px;
                    margin-left: 10px;
                    background-color: $color_blue_purple;
                    color: #FFF;
                }
            }
            .phones {
                margin-top: 15px;
                display: inline-block;
                span {
                    padding: 5px 13px;
                    border-radius: 100px;
                    background-color: rgba(green, .3);
                    margin-right: 5px;
                    font-size: 12px;
                    margin-bottom: 5px;
                    display: inline-block;
                    &.invalid {
                        background-color:rgba(red, .2)
                    }
                }
            }
        }
    }
    .edit-dialog {
        position: absolute;
        right: 0;
        height: 100%;
        z-index: 999;
        width: 450px;
        transition: all .5s;
        border-left: 1px solid rgba(#000, .05);
        background-color: #FFF;
        &:after {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            background-image: url('https://web.whatsapp.com/img/bg-chat-tile-light_04fcacde539c58cca6745483d4858c52.png');
            opacity: .1;
        }
        &.opened {
            margin-right: 0px;
        }
        &.closed {
            margin-right: -450px;
        }
        .relative {
            position: relative;
            z-index: 3;
            height: 100%;
            display: flex;
            flex-direction: column;
            .head {
                .title {
                    display: flex;
                    justify-content: space-between;
                    background-color: #FFF;
                    border-bottom: 1px solid #f2f2f2;
                    padding: 10px 20px;
                    input {
                        background-color: none;
                        flex: 1;
                        height: 40px;
                        padding: 0px;
                        border-bottom: 1px solid rgba(#000, .1);
                    }
                    button {
                        padding: 0px 0px;
                        cursor: pointer;
                        width: 40px;
                        text-align: right;
                        background-color: transparent;
                        svg {
                            font-size: 20px;
                        }
                    }
                }
                ul {
                    background-color: #f9f9f9;
                    display: flex;
                    li {
                        padding: 10px 20px;
                        font-size: 13px;
                        cursor: pointer;
                        &.active {
                            border-bottom: 3px solid $color_yellow;
                        }
                    }
                }
            }
            .content {
                height: 100%;
                background-color: rgba(#dddbd1, .5);
                overflow: auto;
                > div {
                    display: none;
                }
                &.condicoes {
                    .conditions {
                        display: flex;
                        flex-direction: column;
                    }
                }
                &.conteudo {
                    .messages {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .conditions {
                    padding: 20px;
                    .condition {
                        display: flex;
                        flex-direction: column;
                        background-color: #ecf2f8;
                        border: 1px solid rgba($color: #000000, $alpha: .05);
                        padding: 0px;
                        margin-bottom: 20px;
                        border-radius: 5px;
                        position: relative;
                        select, input {
                            width: 100%;
                            height: 44px;
                            border-radius: 4px;
                            padding: 0px 10px;
                            border: 1px solid rgba(#000, .1);
                            box-sizing: border-box;
                        }
                        .removeCondition {
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                        }
                        .if {
                            position: relative;
                            padding: 20px;
                            &.error {
                                background-color: rgba(red, .1);
                                &:hover {
                                    background-color: rgba(red, .2);
                                }
                                .warning {
                                    display: flex;
                                }
                            }
                            .warning {
                                display: none;
                                position: absolute;
                                left: -15px;
                                width: 30px;
                                height: 30px;
                                background-color: #333;
                                color: $color_yellow;
                                svg {
                                    font-size: 20px;
                                    position: relative;
                                    z-index: 2;
                                    path {
                                        fill: $color_yellow;
                                    }
                                }
                                span {
                                    position: absolute;
                                    white-space: nowrap;
                                    left: 10px;
                                    background-color: #333;
                                    font-size: 12px;
                                    border-radius: 100px;
                                    padding: 4px 10px 4px 15px;
                                    margin-left: -15px;
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: all .5s;
                                }
                                &:hover {
                                    span {
                                        opacity: 1;
                                        visibility: visible;
                                        left:30px;
                                    }
                                }
                                border-radius: 100px;
                                top: calc(50% - 15px);
                                align-items: center;
                                justify-content: center;
                            }
                            .ifCondition {
                                display: flex;
                                justify-content: space-between;
                                select {
                                    &:last-child {
                                        margin-left: 10px;
                                    }
                                }
                            }
                            .target {
                                margin-top: 10px;
                            }
                            .tags {
                                .list {
                                    display: flex;
                                    padding-top: 10px;
                                    flex-wrap: wrap;
                                    .tag {
                                        border-radius: 100px;
                                        background-color: $color_yellow;
                                        color: rgba(#000, .5);
                                        padding: 5px 10px;
                                        display: flex;
                                        align-items: center;
                                        cursor: pointer;
                                        margin-right: 4px;
                                        margin-bottom: 3px;
                                        svg {
                                            font-size: 12px;
                                            margin-left: 5px;
                                        }
                                        span {
                                            font-size: 11px;
                                        }
                                    }
                                }
                            }
                            &:hover {
                                background-color: rgba(#000, .05);
                                .removeAnd {
                                    margin-right: -15px;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                            .removeAnd {
                                background-color: red;
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
                                font-size: 20px;
                                border-radius: 100px;
                                color: #FFF;
                                position: absolute;
                                right: 0px;
                                top: calc(50% - 15px);
                                transition: all .2s;
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                        .newAnd {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:after {
                                width: 100%;
                                height: 1px;
                                background-color: rgba(#000, .1);
                                content: '';
                                position: absolute;
                                top:calc(50% - .5px);
                            }
                            button {
                                margin: 0px;
                                text-align: center;
                                background-color: #FFF;
                                border: 1px solid $color_blue;
                                color: #FFF;
                                width: 36px;
                                height: 36px;
                                border-radius: 100px;
                                position: relative;
                                z-index: 2;
                                font-size: 20px;
                                box-sizing: border-box;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                &:hover {
                                    background-color: $color_blue;
                                    path {
                                        fill: #FFF;
                                    }
                                }
                                svg {
                                    margin: 0px;
                                    path {
                                        fill: $color_blue;
                                    }
                                }
                            }
                        }
                        .targetDialog {
                            padding: 0px 20px;
                            span {
                                padding-bottom: 4px;
                                font-size: 13px;
                            }
                        }
                        .conditionAnd {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:after {
                                width: 100%;
                                height: 1px;
                                background-color: rgba(#000, .1);
                                content: '';
                                position: absolute;
                                top:calc(50% - .5px);
                            }
                            p {
                                margin: 0px;
                                text-align: center;
                                background-color: #FFF;
                                width: 25px;
                                height: 25px;
                                border-radius: 100px;
                                position: relative;
                                z-index: 2;
                                font-size: 13px;
                                box-sizing: border-box;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                    .exception-target {
                        padding: 20px;
                        background-color: #FFF;
                        margin-top: 10px;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: column;
                        align-items: left;
                        box-shadow: 0 1px 5px rgba(0, 0, 0, .13);
                        &.error {
                            background-color: red;
                        }
                        h5 {
                            margin: 0px;
                            padding: 0px;
                            font-weight: 600;
                        }
                        p {
                            font-size: 13px;
                            margin-top: 0px;
                        }
                        select {
                            width: 100%;
                            height: 44px;
                            border-radius: 4px;
                            padding: 0px 10px;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            box-sizing: border-box;
                        }
                    }
                }
                .messages {
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    height: calc(100%);
                    .tutorialTypeDialog {
                        padding: 20px;
                        box-shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
                        background-color: #FFF;
                        border-radius: 5px;
                        margin: 20px;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        svg {
                            font-size: 30px;
                            min-width: 30px
                        }
                        div {
                            display: flex;
                            flex-direction: column;
                            margin-left: 20px;
                        }
                        h2 {
                            font-weight: 600;
                            margin: 0px;
                        }
                        p {
                            margin: 0px;
                            font-size: 13px;
                        }
                    }
                    section {
                        display: flex;
                        flex-direction: column;
                        overflow: auto;
                        padding-bottom: 20px;
                        box-sizing: border-box;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 20px;
                        padding-bottom: 97px;
                    }
                    .button-circle {
                        margin-right: 5px;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        font-size: 20px;
                        border-radius: 100px;
                        color: #FFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &.removeMessage {
                            background-color: red;
                        }
                        &.editMessage {
                            background-color: $color_blue_purple;
                        }
                        &.newMessage {
                            background-color: $color_blue;
                        }
                        svg {
                            path {
                                fill: #FFF;
                            }
                        }
                    }
                    .messages-bot {
                        > div {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                        }
                    }
                    .messages-user {
                        > div {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                        }
                    }
                    .message {
                        background-color: #FFF;
                        max-width: 60%;
                        padding: 6px 7px 8px 7px;
                        border-radius: 7.5px;
                        box-shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
                        font-size: 13px;
                        box-sizing: border-box;
                        word-break: break-word;
                        white-space: pre-line;
                        &.user {
                            white-space: nowrap !important;
                        }
                        &.bot {
                            background-color: #dcf8c6;
                        }
                    }
                    .config-message {
                        position: relative;
                        padding: 5px;
                        border-radius: 5px;
                        &:hover {
                            background-color: rgba(#000, .1);
                        }
                        .variable {
                            width: 100%;
                            box-sizing: border-box;
                            flex-direction: column !important;
                            > label {
                                display: flex;
                                align-items: center;
                                text-align: left;
                                width: 100%;
                                cursor: pointer;
                                span {
                                    font-size: 13px;
                                    padding-left: 5px;
                                }
                            }
                            .form {
                                width: calc(100% + 10px);
                                background-color: rgba(#000, .05);
                                position: relative;
                                border-radius: 4px;
                                margin-top: 10px;
                                input {
                                    background-color: transparent;
                                    width: 100%;
                                    padding: 10px;
                                    box-sizing: border-box;
                                    border-radius: 4px;
                                }
                                &:before {
                                    content: '';
                                    width: 0; 
                                    height: 0; 
                                    border-left: 5px solid transparent;
                                    border-right: 5px solid transparent;
                                    border-bottom: 5px solid rgba(#000, .05);;
                                    position: absolute;
                                    top: -5px;
                                    left: 10px;
                                    display: block;
                                }
                            }
                        }
                        .buttons {
                            position: absolute;
                            left: 50px;
                            top: calc(50% - 15px);
                            transition: all .2s;
                            display: flex;
                            opacity: 0;
                            visibility: hidden;
                        }
                        &:hover {
                            .buttons {
                                opacity: 1;
                                visibility: visible;
                                left: 10px;
                            }
                        }
                    }
                    .config-message-user {
                        padding: 20px;
                        background-color: #FFF;
                        margin-top: 10px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        box-shadow: 0 1px 5px rgba(0, 0, 0, .13);
                        cursor: pointer;
                        .text {
                            margin-left: 10px;
                            font-size: 13px;
                        }
                    }
                    .contentNewMessage {
                        display: flex;
                        flex-direction: row !important;
                        justify-content: flex-end;
                        align-items: center !important;
                        margin: 10px 0px;
                        span {
                            margin-right: 5px;
                            font-size: 12px;
                        }
                    }
                    .editing-message {
                        display: flex;
                        flex-direction: column;
                        background-color: #f0f0f0;
                        width: 100%;
                        position: absolute;
                        bottom: 0px;
                        .visible {
                            min-height: 62px;
                            padding: 8px 10px;
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;
                            position: relative;
                            z-index: 2;
                            background-color: #f0f0f0;
                        }
                        .removeMessage {
                            margin-left: 10px;
                            background-color: #ccc;
                        }
                        .emojis {
                            display: flex;
                            flex-direction: column;
                            .list {
                                visibility: hidden;
                                height: 0px;
                                overflow: auto;
                                width: 100%;
                                box-sizing: border-box;
                                transition: all .2s;
                                padding: 15px 20px;
                                margin-bottom: -40px;
                                &.active {
                                    height: 220px;
                                    visibility: visible;
                                    margin-bottom: 0px;
                                }
                                button {
                                    width: 32px;
                                    height: 32px;
                                    margin: 0px 6px;
                                    font-size: 28px;
                                    cursor: pointer;
                                }
                            }
                            .buttons {
                                margin-right: 10px;
                                display: flex;
                                align-items: center;
                                overflow: hidden;
                                button {
                                    margin-left: 10px;
                                    width: 26px;
                                    height: 26px;
                                    display: flex;
                                    cursor: pointer;
                                    align-items: center;
                                    background-color: transparent;
                                    border: none;
                                    color: #919191;
                                }
                                .close {
                                    margin-left: -30px;
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: all .2s;
                                }
                                &.active {
                                    .open {
                                        path {
                                            fill: #009688
                                        }
                                    }
                                    .close {
                                        margin-left: 10px;
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        .input {
                            min-height: 42px;
                            max-height: 100px;
                            overflow: auto;
                            flex: 1;
                            margin: 8px 0px;
                            padding: 9px 12px 11px;
                            box-sizing: border-box;
                            border-radius: 21px;
                            background-color: #FFF;
                            box-sizing: border-box;
                            position: relative;
                            #input-send {
                                word-break: break-word;
                                white-space: pre-line;
                                outline: none;
                                position: relative;
                                z-index: 2;
                            }
                            span {
                                position: absolute;
                                top: 9px;
                                color: rgba(#000,.3);
                            }
                        }
                    }
                }
            }
        }
    }
    .el-full {
        cursor: move;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}